.heading{
    background-color: blue;
    color: aliceblue;
}
.navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    list-style: none;

}